<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/category/save" method="post" th:object="${category}">
    <input type="hidden" name="categoryId" th:field="*{categoryId}"></input>

    <span th:if="${#fields.hasErrors('categoryName')}" th:each="err:${#fields.errors('categoryName')}" th:text="${err}"></span>

    <input type="text" id="categoryName" name="categoryName" th:field="*{categoryName}"></input>
    <input type="submit"></input>
</form>
</body>
</html>